In [6]:
%%time
from gmplot import gmplot
import webbrowser, os, json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import random
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

Wall time: 1 ms

In [8]:
df = pd.read_csv('./gps1.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
vehicle         50000 non-null object
datetime        50000 non-null object
speed           50000 non-null float64
longitude       50000 non-null float64
latitude        50000 non-null float64
heading         50000 non-null float64
vehicleType     50000 non-null int64
diff_seconds    50000 non-null float64
diff_mins       50000 non-null float64
dtypes: float64(6), int64(1), object(2)
memory usage: 3.4+ MB

In [14]:
df.describe()

,speed,longitude,latitude,heading,vehicleType,diff_seconds,diff_mins
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,6.697529,106.683164,10.773658,116.298594,164.546000,1492.515060,24.875251
std,10.658560,0.000804,0.011441,114.066834,227.432294,4684.562289,78.076038
min,0.000000,106.681669,10.753520,-177.000000,0.000000,0.000000,0.000000
25%,0.000000,106.682533,10.763168,0.000000,0.000000,293.000000,4.883333
50%,0.000000,106.683219,10.775731,110.000000,0.000000,464.000000,7.733333
75%,12.000000,106.683768,10.782605,180.000000,300.000000,900.000000,15.000000
max,80.000000,106.684639,10.796875,508.000000,900.000000,85243.000000,1420.716667

In [18]:
coords = df[['latitude', 'longitude']].to_numpy()
coords[:5]

array([[ 10.777622, 106.681669],
       [ 10.76531 , 106.68167 ],
       [ 10.76538 , 106.68167 ],
       [ 10.76663 , 106.68167 ],
       [ 10.77499 , 106.68167 ]])

In [19]:
# Place map
gmap = gmplot.GoogleMapPlotter(coords[0][0], coords[0][1], 15)

# Scatter points
lats, lons = zip(*coords)
color = "#{:06x}".format(random.randint(0, 0xFFFFFF))
# '#95ed64'
gmap.scatter(lats, lons, color , size=5, marker=False)
# gmap.plot(lats, lons, color, edge_width=2)
    

# # Marker
# hidden_gem_lat, hidden_gem_lon = 37.770776, -122.461689
# gmap.marker(hidden_gem_lat, hidden_gem_lon, 'cornflowerblue')

# Draw
gmap.draw("my_map.html")

In [13]:
SPLIT_TIME = 3 #minute
def split_trip(coords):
    l = [[[coords[0][0],coords[0][1]]]]
    for i in range(1,len(coords)):
        c = coords[i]
        if c[2] > SPLIT_TIME:
            l.append([[c[0], c[1]]])
        else: 
            l[len(l)-1].append([c[0], c[1]])
#     print(l)
    return l

### Show map of each trip

In [4]:
# Place map
gmap = gmplot.GoogleMapPlotter(coords[0][0], coords[0][1], 15)

# Scatter points
for trip in trips:
    lats, lons = zip(*trip)
    color = "#{:06x}".format(random.randint(0, 0xFFFFFF))
# '#95ed64'
    gmap.scatter(lats, lons, color , size=5, marker=False)
    gmap.plot(lats, lons, color, edge_width=2)
    

# # Marker
# hidden_gem_lat, hidden_gem_lon = 37.770776, -122.461689
# gmap.marker(hidden_gem_lat, hidden_gem_lon, 'cornflowerblue')

# Draw
gmap.draw("my_map.html")

NameError: name 'coords' is not defined

## Open map new tab

In [20]:
filename = 'file:///'+os.getcwd()+'/' + 'my_map.html'
webbrowser.open_new_tab('./my_map.html')

True