In [6]:
%%time
from gmplot import gmplot
import webbrowser, os, json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import random
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

Wall time: 1 ms

In [31]:
df = pd.read_csv('./gps1.csv')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
vehicle        50000 non-null object
datetime       50000 non-null object
speed          50000 non-null float64
longitude      50000 non-null float64
latitude       50000 non-null float64
heading        50000 non-null float64
vehicleType    50000 non-null int64
dtypes: float64(4), int64(1), object(2)
memory usage: 2.7+ MB

In [34]:
df.describe()

              speed     longitude      latitude       heading   vehicleType
count  50000.000000  50000.000000  50000.000000  50000.000000  50000.000000
mean       6.210833    106.684752     10.764112    122.889811    160.030000
std       10.176225      0.001809      0.006092    126.473069    219.622321
min        0.000000    106.681670     10.753520   -176.000000      0.000000
25%        0.000000    106.683220     10.759600      0.000000      0.000000
50%        0.000000    106.684616     10.763331    126.000000      0.000000
75%       11.000000    106.686500     10.768530    207.000000    300.000000
max       62.000000    106.687767     10.775833  12342.000000    900.000000

In [35]:
df.head(10)

,vehicle,datetime,speed,longitude,latitude,heading,vehicleType
0,51A74766,2019-01-08 15:19:56,9.0,106.681670,10.765310,106.2,0
1,51A74766,2019-01-08 15:27:13,11.0,106.681670,10.765380,0.0,300
2,51A07937,2019-01-08 15:27:55,0.0,106.681670,10.766630,328.0,0
3,51A07937,2019-01-08 15:32:54,6.0,106.681670,10.774990,50.0,0
4,51A07937,2019-01-08 16:07:29,17.0,106.681671,10.760513,254.0,200
5,51A07937,2019-01-08 16:12:30,5.0,106.681671,10.765172,-1.0,300
6,51A74766,2019-01-08 16:24:19,7.0,106.681671,10.765260,72.0,300
7,51B25820,2019-01-08 22:40:09,6.0,106.681671,10.765558,272.0,0
8,51B25820,2019-01-08 22:45:09,10.0,106.681671,10.765632,284.0,0
9,51A07937,2019-01-08 16:27:29,0.0,106.681671,10.766555,312.0,0

In [36]:
coords = df[['latitude', 'longitude']].to_numpy()
# coords = coords[:5000]

In [37]:
# Place map
gmap = gmplot.GoogleMapPlotter(coords[0][0], coords[0][1], 15)

# Scatter points
lats, lons = zip(*coords)
color = "#{:06x}".format(random.randint(0, 0xFFFFFF))
# '#95ed64'
gmap.scatter(lats, lons, color , size=5, marker=False)
# gmap.plot(lats, lons, color, edge_width=2)
    

# # Marker
# hidden_gem_lat, hidden_gem_lon = 37.770776, -122.461689
# gmap.marker(hidden_gem_lat, hidden_gem_lon, 'cornflowerblue')

# Draw
gmap.draw("my_map.html")

In [13]:
SPLIT_TIME = 3 #minute
def split_trip(coords):
    l = [[[coords[0][0],coords[0][1]]]]
    for i in range(1,len(coords)):
        c = coords[i]
        if c[2] > SPLIT_TIME:
            l.append([[c[0], c[1]]])
        else: 
            l[len(l)-1].append([c[0], c[1]])
#     print(l)
    return l

### Show map of each trip

In [4]:
# Place map
gmap = gmplot.GoogleMapPlotter(coords[0][0], coords[0][1], 15)

# Scatter points
for trip in trips:
    lats, lons = zip(*trip)
    color = "#{:06x}".format(random.randint(0, 0xFFFFFF))
# '#95ed64'
    gmap.scatter(lats, lons, color , size=5, marker=False)
    gmap.plot(lats, lons, color, edge_width=2)
    

# # Marker
# hidden_gem_lat, hidden_gem_lon = 37.770776, -122.461689
# gmap.marker(hidden_gem_lat, hidden_gem_lon, 'cornflowerblue')

# Draw
gmap.draw("my_map.html")

NameError: name 'coords' is not defined

## Open map new tab

In [38]:
filename = 'file:///'+os.getcwd()+'/' + 'my_map.html'
webbrowser.open_new_tab('./my_map.html')

True