<a href="https://colab.research.google.com/github/hxtruong/greatmaps-vietbando/blob/master/GMap_VietBanDo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import auth
auth.authenticate_user()
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

In [0]:
# !cd gdrive/My\ Drive/VietBanDo
# !pwd

In [0]:
link = "/content/gdrive/My Drive/VietBanDo/WayPoint_20190801_201908020946.csv"
# Note: set param encoding = 'latin1'
logs = pd.read_csv(link,encoding='latin1')

In [7]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599975 entries, 0 to 599974
Data columns (total 8 columns):
eventdate      599975 non-null object
vehicle        599975 non-null object
datetime       599975 non-null object
speed          599975 non-null float64
longitude      599975 non-null float64
latitude       599975 non-null float64
heading        599975 non-null float64
vehicleType    599975 non-null int64
dtypes: float64(4), int64(1), object(3)
memory usage: 36.6+ MB

In [8]:
logs.describe()

               speed      longitude  ...        heading    vehicleType
count  599975.000000  599975.000000  ...  599975.000000  599975.000000
mean        6.023258     106.696958  ...     115.869299     156.182174
std        10.729775       0.008335  ...     113.598963     215.934555
min         0.000000     106.681669  ...    -179.000000       0.000000
25%         0.000000     106.690150  ...       0.000000       0.000000
50%         0.000000     106.697190  ...     108.000000       0.000000
75%         9.000000     106.703350  ...     187.050000     300.000000
max       132.000000     106.715053  ...   12342.000000     900.000000

[8 rows x 5 columns]

In [9]:
logs.head(5)

    eventdate   vehicle            datetime  ...   latitude  heading  vehicleType
0  01/08/2019  5.10E+25  01/08/2019 7:41:40  ...  10.777759     98.0            0
1  01/08/2019  5.10E+25  01/08/2019 7:58:40  ...  10.755480      0.0          700
2  01/08/2019  5.10E+25  01/08/2019 8:04:10  ...  10.765283    180.0          300
3  01/08/2019  5.10E+25  01/08/2019 8:13:10  ...  10.790426      0.0            0
4  01/08/2019  5.10E+25  01/08/2019 8:19:10  ...  10.796104      0.0            0

[5 rows x 8 columns]

In [10]:
logs.sample(5)

         eventdate   vehicle  ... heading  vehicleType
516551  01/08/2019   54Y6761  ...   152.0            0
71519   01/08/2019  51B16667  ...   202.0            0
594827  01/08/2019  89A10696  ...     3.1          300
571469  01/08/2019  69A05590  ...     0.0            0
154324  01/08/2019  51D10811  ...   130.0          300

[5 rows x 8 columns]

In [11]:
logs['vehicle'].value_counts()

51B27866     296
51G59860     291
59U124798    287
51G77157     268
51G04500     258
51B17324     255
51G33790     255
65A19359     251
51C67871     245
71A04686     245
54X1113      244
51B17924     243
51G67050     233
51G56199     226
51A39524     225
51G24023     221
51A50529     213
51G37237     212
51B17125     212
80B5464      209
51B05053     209
51G30518     206
54X6582      202
51G56050     199
51F23643     195
80B5487      195
51F23560     193
51G48006     192
51G39585     192
51G65871     191
            ...
51B25161       1
84B00282       1
51H51366       1
51G63925       1
51H03743       1
51F20529       1
61A58151       1
51F31011       1
60LD01784      1
51C65423       1
51B25707       1
51G29072       1
60C00276       1
51G36517       1
51C29830       1
51D28310       1
51B23608       1
60A55545       1
51C54946       1
63L8769        1
51A93656       1
60B05048       1
51F31583       1
71B00328       1
51H54847       1
62L9566        1
51F45075A      1
54Y3074        1
51G51784       1
51C73746       1
Name: vehicle, Length: 37282, dtype: int64

In [12]:
logs[(logs['vehicle']=='5.10E+25') | (logs['vehicle']=='5.10E+26')].sample(5)

     eventdate   vehicle             datetime  ...   latitude  heading  vehicleType
28  01/08/2019  5.10E+26   01/08/2019 8:05:29  ...  10.782880    180.0            0
35  01/08/2019  5.10E+26  01/08/2019 15:54:39  ...  10.754796    180.0          300
29  01/08/2019  5.10E+26   01/08/2019 8:10:29  ...  10.785983    180.0          300
3   01/08/2019  5.10E+25   01/08/2019 8:13:10  ...  10.790426      0.0            0
7   01/08/2019  5.10E+25   01/08/2019 8:46:40  ...  10.791805      0.0            0

[5 rows x 8 columns]

In [13]:
logs[logs['speed']==0].sample(5)

         eventdate   vehicle  ... heading  vehicleType
80007   01/08/2019  51B20400  ...   158.0            0
173143  01/08/2019  51E02525  ...   204.0            0
149769  01/08/2019  51D03768  ...   182.0            0
9629    01/08/2019  37A35016  ...     0.0          300
99395   01/08/2019  51B26881  ...   180.0            0

[5 rows x 8 columns]

In [51]:
# Remove all vehicle appear less than 20 times
# logs.drop(logs['vehicle'].index)
vehicleCount = logs.groupby(by='vehicle').size().reset_index()
vehicleCount[vehicleCount[0]>20]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7772 entries, 4 to 37276
Data columns (total 2 columns):
vehicle    7772 non-null object
0          7772 non-null int64
dtypes: int64(1), object(1)
memory usage: 182.2+ KB