<a href="https://colab.research.google.com/github/hxtruong/greatmaps-vietbando/blob/master/VietBanDo_GPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import library

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

### Read data

In [0]:
link = "https://raw.githubusercontent.com/hxtruong/dataset/master/vietbando/WayPointDemo.csv"
# Note: set param encoding = 'latin1'
df = pd.read_csv(link,encoding='latin1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599975 entries, 0 to 599974
Data columns (total 8 columns):
eventdate      599975 non-null object
vehicle        599975 non-null object
datetime       599975 non-null object
speed          599975 non-null float64
longitude      599975 non-null float64
latitude       599975 non-null float64
heading        599975 non-null float64
vehicleType    599975 non-null int64
dtypes: float64(4), int64(1), object(3)
memory usage: 36.6+ MB

In [5]:
df.describe()

               speed      longitude  ...        heading    vehicleType
count  599975.000000  599975.000000  ...  599975.000000  599975.000000
mean        6.023258     106.696958  ...     115.869299     156.182174
std        10.729775       0.008335  ...     113.598963     215.934555
min         0.000000     106.681669  ...    -179.000000       0.000000
25%         0.000000     106.690150  ...       0.000000       0.000000
50%         0.000000     106.697190  ...     108.000000       0.000000
75%         9.000000     106.703350  ...     187.050000     300.000000
max       132.000000     106.715053  ...   12342.000000     900.000000

[8 rows x 5 columns]

In [8]:
df.sample(5)

         eventdate   vehicle  ... heading  vehicleType
562517  01/08/2019  64A05957  ...   126.0          300
569330  01/08/2019  67C04703  ...     0.0            0
226874  01/08/2019  51F51324  ...     0.0          300
378316  01/08/2019  51G49095  ...   273.0            0
316880  01/08/2019  51G15053  ...     0.0          300

[5 rows x 8 columns]

# Preprocessing

## Filter data